/* Reset */
* {
    margin: 0;
    padding: 0;
    border:0;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #69337A;
    height: 16vh;
}

#LogoPequena {
    width: 300px;
}

#Inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 280px;
    height: 70px;
    border-radius: 15px;
    background-color: #FBC7FF;
    margin-right: 100px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    color: #3A0053;
    cursor: pointer;
}

#Inicio:hover {
    background-color: #b68edc;
    box-shadow: 0 15px 25px #3A0053;
    transform: translateY(-3px);
}

.icone {
    width: 36px;
}


main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    position: absolute;
    top: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #69337A;
}

#SetaEsquerda {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 66px;
    position: absolute;
    left: 324px;
    top: 190px;
    gap: 24px;
}

#SetaDireita {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 66px;
    position: absolute;
    right: 324px;
    top: 190px;
    gap: 24px;
}

#setaE1, #setaE2, #setaE3, #setaE4, #setaD1, #setaD2, #setaD3, #setaD4 {
    cursor: pointer;
    z-index: 5;
}

#setaE1:hover, #setaE2:hover, #setaE3:hover, #setaE4:hover, #setaD1:hover, #setaD2:hover, #setaD3:hover, #setaD4:hover {
    background-color: #b68edc;
    box-shadow: 0 15px 25px #d8a8ff;
    transform: translateY(-3px);
}

/* Fada */
#boneca {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 820px;
}

#boneca1 {
    position: absolute;
    width: 820px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#cabelo1 {
    position: absolute;
    width: 820px;
    left: 433px;
    top: 285px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#vestido1 {
    position: absolute;
    width: 820px;
    left: 50%;
    top: 416px;
    transform: translate(-50%, -50%);
    z-index: 4;

}

#asa1 {
     position: absolute;
    width: 820px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Botão salvar */
 #salvarfada {
    width: 280px;
    height: 70px;
    border-radius: 15px;
    position: absolute;
    top: 680px;
    right: 590px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    color: #3A0053;
    background-color: #FBC7FF;
    position: absolute;
    z-index: 10;
    cursor: pointer;
 }

 #salvarfada:hover {
    background-color: #b68edc;
    box-shadow: 0 15px 25px #d8a8ff;
    transform: translateY(-3px);
 }

/* Brilho do cursor */
.sparkle {
  position: absolute;
  background: radial-gradient(circle, #fff8ff, #fbc7ff, transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  animation: sparkleAnim 1s ease-out forwards;
  box-shadow: 0 0 10px #fbc7ff, 0 0 20px #fff;
  mix-blend-mode: screen;
  z-index: 10;
}

@keyframes sparkleAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}