/* Reset */
* {
    margin: 0;
    padding: 0;
    border:0;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #69337A;
    height: 16vh;
}

#LogoPequena {
    width: 300px;
}

#BotaoCriar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 280px;
    height: 70px;
    border-radius: 15px;
    background-color: #FBC7FF;
    margin-right: 100px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    color: #3A0053;
    cursor: pointer;
}

#BotaoCriar:hover {
    background-color: #b68edc;
    box-shadow: 0 15px 25px #3A0053;
    transform: translateY(-3px);
}

.icone {
    width: 44px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#LogoGrande {
    width: 1000px;
    margin-top: 10px;
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    color: #69337A;
}

#BotaoIniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 100px;
    border-radius: 30px;
    background-color: #FBC7FF;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    color: #3A0053;
    margin-top: 20px;
}

#BotaoIniciar:hover {
    background-color: #b68edc;
    box-shadow: 0 15px 25px #d8a8ff;
    transform: translateY(-3px);
    cursor: pointer;
}

/* Brilho do cursor */
.sparkle {
  position: absolute;
  background: radial-gradient(circle, #fff8ff, #fbc7ff, transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  animation: sparkleAnim 1s ease-out forwards;
  box-shadow: 0 0 10px #fbc7ff, 0 0 20px #fff;
  mix-blend-mode: screen;
  z-index: 10;
}

@keyframes sparkleAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}



